beautifulsoup4==4.12.3
duckduckgo_search==6.1.0
faiss_cpu==1.8.0
fastapi==0.111.0
fitz==0.0.1.dev2
Flask==3.0.3
googlesearch_python==1.2.4
langchain==0.2.3
langchain_community==0.2.4
langchain_google_genai==1.0.6
langchain_text_splitters==0.2.1
langdetect==1.0.9
numpy==1.26.4
pdfplumber==0.11.1
Pillow==10.3.0
protobuf==4.25.3
pydantic==2.7.4
PyPDF2==3.0.1
Requests==2.32.3
spacy==3.7.5
streamlit==1.35.0
tqdm==4.66.4
